{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Illumine</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="viewport" content="width=320, initial-scale=0.75, minimum-scale=0.75, maximum-scale=1.0">
        <link rel="icon" type="image/png" href="/static/img/favicon.png" />
        <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
        
        
        <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
        <!--[if lt IE 9]>
            <link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.placeholder.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mobilemenu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

       
    </head>
    <body>
       {% include "web/header.html" %}
        <section id="slider" class="static">
            
            <img src="/static/img/sliderImage1.jpg" alt="" style="">
            
        </section>
        <section id="main" class="normalPage">
            <section class="row center">
                <section class="span25 main-wrapper">
                    <div class="title span9">
                <h1 class="span8">About illumine</h1>
                <h2 class="span8">Doctors & Health Care Responsive Theme.</h2>
            </div>
                    <div class="cornerShadow left"></div>
                    <div class="cornerShadow right"></div>
                    <section class="content span16">
                        
                        <div class="twoCol row collumn">
                            <div class="span8">
                                <article>
                                    <h1><i></i> illumine Mission & Vision</h1>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </article>
                                <article>
                                    <h1><i></i> Advance Medicine</h1>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </article>
                                <article>
                                    <h1><i></i> Why illumine</h1>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </article>
                                
                            </div>
                            <div class="span8">
                                <article>
                                    <h1><i></i> Heart Surgery</h1>
                                    <figure>
                                        <img src="/static/img/medicalServiceSample.png" alt="" />
                                    </figure>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </article>
                                <article>
                                    <h1><i></i> Team & Directors of illumine</h1>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </article>
                                
                            </div>
                            <div class="span16">
                                <article>
                                    <h1><i></i> illumine Infrastructure</h1>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                    <figure>
                                        <img src="/static/img/aboutUsSample.jpg" alt="" />
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <section class="top noDivider">
                            <h2 class="pull-left">Map and Direction to Our Campus.</h2>
                            <p class="pull-left">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        </section>
                        <div class="mapHolder">
                            <img src="/static/img/testMap.png" alt="" />
                        </div>
                        
                        
                    </section>
                    <aside class="span8">
                        
                        <section class="span8 asideBox">
                            <h1>Today’s Video Health Tips</h1>
                            <div class="inside span8">
                                <figure>
                                    <img src="{{media}}/{{vd.Image_src}}" alt="" />
                                    <div class="overlay"></div>
                                    <a href="#" class="html5lightbox" title="Play">Play</a>
                                </figure>
                                <div class="info">
                                    <p>Doctors and Health care Responsive Theme.</p>
                                    <a href="/web/videohealthtips" title="More Videos" class="customButton">More Videos</a>
                                </div>
                            </div>
                            <script type="text/javascript" src="{% static 'js/html5lightbox.js' %}"></script>
                        </section>
                        <section class="span8 bigInfoBox">
                            <hgroup>
                                <h2>Make an Appointment in</h2>
                                <h1>illumine</h1>
                            </hgroup>
                            
                            <form action="#" method="post">
                                <input type="text" name="fullName" placeholder="Full Name" class="span7 greyInput" />
                                <input type="text" name="phone" placeholder="Phone Number" class="span7 greyInput" />
                                <input type="email" name="email" placeholder="Email Address" class="span7 greyInput" />
                                
                                <div class="customSelect left">
                                    <input type="text" name="signupName" value="" placeholder="Day" class="greyInput span3"> <button>Open</button>
                                    <div class="options" style="display: none; ">
                                        <ul>
                                            <li><a href="#">01</a></li>
                                            <li><a href="#">02</a></li>
                                            <li><a href="#">03</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="customSelect right">
                                    <input type="text" name="signupName" value="" placeholder="Time" class="greyInput span3"> <button>Open</button>
                                    <div class="options" style="display: none; ">
                                        <ul>
                                            <li><a href="#">01</a></li>
                                            <li><a href="#">02</a></li>
                                            <li><a href="#">03</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="customSelect">
                                    <input type="text" name="signupName" value="" placeholder="Month" class="greyInput span7"> <button>Open</button>
                                    <div class="options" style="display: none; ">
                                        <ul>
                                            <li><a href="#">October</a></li>
                                            <li><a href="#">November</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                            <li><a href="#">December</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="customSelect">
                                    <input type="text" name="signupName" value="" placeholder="Select Center" class="greyInput span7"> <button>Open</button>
                                    <div class="options" style="display: none; ">
                                        <ul>
                                            <li><a href="#">Center 1</a></li>
                                            <li><a href="#">Center 2</a></li>
                                            <li><a href="#">Center 3</a></li>
                                            <li><a href="#">Center 3</a></li>
                                            <li><a href="#">Center 3</a></li>
                                            <li><a href="#">Center 3</a></li>
                                            <li><a href="#">Center 3</a></li>
                                        </ul>
                                    </div>
                                </div>

                                
                                <input type="submit" name="submit" value="Submit" class="customButton"/>
                            </form>
                            
                        </section>
                        <section class="largeBox">
                            <h1 class="pull-left">Latest News and HEALTH TIPS</h1><br />
                            <section class="span8 figureArticle">
                                <article>
                                    <figure>
                                        <img src="/static/img/doctorSample.png" alt="" />
                                        <div class="overlay"></div>
                                    </figure>
                                    <div class="info">
                                        <p><a href="#" title="news">Doctors and Health care Responsive Theme.</a></p>
                                        <span>Aug 06, 2012 | Health Tips</span>
                                    </div>
                                </article>
                                <div class="hr"></div>
                                <article>
                                    <figure>
                                        <img src="/static/img/doctorSample.png" alt="" />
                                        <div class="overlay"></div>
                                    </figure>
                                    <div class="info">
                                        <p><a href="#" title="news">Doctors and Health care Responsive Theme.</a></p>
                                        <span>Aug 06, 2012 | Health Tips</span>
                                    </div>
                                </article>
                            </section>
                            <a href="#" title="More news" class="customButton">More News & Health Tips</a>
                        </section>
                        
                        <section class="span8 asideBox">
                            <div class="inside span8">
                                <figure class="under">
                                    <div class="underFlow"></div>
                                    <img src="/static/img/doctorSample.png" alt="" />
                                </figure>
                                <div class="info under">
                                    <p>Meet Our Specialized Doctors Today!!</p>
                                    <a href="#" title="More Videos" class="customButton">Our Doctors</a>
                                </div>
                            </div>
                        </section>
                        
                        <section class="span8 paymentBox">
                            <div class="inside span8">
                                <div class="info  span3 pull-right">
                                    <p>Pay Your Bill in Online</p>
                                    <a href="#" title="Pay online" class="customButton">Pay Online <i></i></a>
                                </div>
                            </div>
                        </section>
                    </aside>
                    <div class="separator"></div>
                    <section class="span25 bottomSection hidden-phone">
                        <section class="span15 left">
                            <h1>Our Latest Tweets</h1>
                            <div class="controls-div pull-right">
                                <a href="#" title="Previous" class="controls prev">Previous</a>
                                <a href="#" title="Next" class="controls next">Next</a>
                            </div>
                            <section class="span14 coverFlow">
                                <ul>
                                    <li class="span14">
                                        <figure>
                                            <img src="/static/img/doctorSample.png" alt="" />
                                            <div class="overlay"></div>
                                        </figure>
                                        <div class="info">
                                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal  fdistribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                            <span class="customButton smallRadius pull-right">Charlsey Shrader (New York)</span>
                                        </div>
                                    </li>
                                    <li class="span14">
                                        <figure>
                                            <img src="/static/img/doctorSample.png" alt="" />
                                            <div class="overlay"></div>
                                        </figure>
                                        <div class="info">
                                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal  fdistribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                            <span class="customButton smallRadius pull-right">Charlsey Shrader (New York)</span>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </section>
                        <section class="span9 right">
                            <h1>Our Latest Tweets</h1>
                            <div class="twitterFeed">
                                <p>Doctors and Health care Responsive Theme in Themforest, Stay Tuned on more Updates. </p>
                                <span>6 hours ago</span>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <footer>
            <section class="row center">
                <section class="span25">
                    <section class="span6 footerBox">
                        <h1 class="customButton smallRadius">Quick links</h1>
                        <h2>Doctors and Health Care Theme</h2>
                        <ul>
                            <li><a href="#" title=""><i></i>Home</a></li>
                            <li><a href="#" title=""><i></i>Medical Services</a></li>
                            <li><a href="#" title=""><i></i>Our Doctor</a></li>
                            <li><a href="#" title=""><i></i>Patients</a></li>
                            <li><a href="#" title=""><i></i>News & Events</a></li>
                            <li><a href="#" title=""><i></i>Visitors</a></li>
                            <li><a href="#" title=""><i></i>Videos</a></li>
                            <li><a href="#" title=""><i></i>Location</a></li>
                        </ul>
                    </section>
                    <section class="span6 footerBox">
                        <h1 class="customButton smallRadius">Medical Services</h1>
                        <h2>illum Specialised Services</h2>
                        <ul>
                            <li><a href="#" title=""><i></i>Laboratory & Pathology</a></li>
                            <li><a href="#" title=""><i></i>Radiation Medicine</a></li>
                            <li><a href="#" title=""><i></i>Primary Care</a></li>
                            <li><a href="#" title=""><i></i>Radiology</a></li>
                            <li><a href="#" title=""><i></i>General Surgery</a></li>
                            <li><a href="#" title=""><i></i>Heart Surgery</a></li>
                            <li><a href="#" title=""><i></i>Infectious Diseases</a></li>
                        </ul>
                    </section>
                    <section class="span6 footerBox">
                        <h1 class="customButton smallRadius">New Born Babies</h1>
                        <h2>illum Photo Gallery (Flickr Widget)</h2>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <figure>
                            <img src="/static/img/babySample.jpg" alt="" />
                        </figure>
                        <a href="#" title="View more photos" class="more">View more photos</a>
                    </section>
                    <section class="span6 footerBox">
                        <h1 class="customButton smallRadius">Quick Contact</h1>
                        <h2>Doctors and Health Care Theme</h2>
                        <form action="http://teothemes.com/html/Illumine/process.php" method="post">
                            <input type="text" name="name" placeholder="Name" class="blackInput span6"/>
                            <input type="email" name="email" placeholder="Email" class="blackInput span6"/>
                            <textarea placeholder="Message" class="span6"></textarea>
                            <input type="submit" name="submit" value="Submit" class="customButton"/>
                        </form>
                    </section>
                </section>
            </section>
        </footer>
        <section id="copyright">
            <section class="row center">
                <section class="span25">
				<center>
                    <p>COPYRIGHT © 2014 illumine. Developed by <a href="http://ghrix.com/"><b>Team-Ghrix</b></a></p>
                </center>
				</section>	
            </section>
        </section>
        <script>
            if(document.body.offsetWidth < 400) {
                viewport = document.querySelector("meta[name=viewport]");
                viewport.setAttribute('content', 'width=device-width; minimum-scale=0.75, initial-scale=0.75; maximum-scale=0.75; user-scalable=0;');
            }
        </script>
    </body>
</html>
