{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Illumine</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="viewport" content="width=320, initial-scale=0.75, minimum-scale=0.75, maximum-scale=1.0">
        <link rel="icon" type="image/png" href="/static/img/favicon.png" />
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
		<!-- Searchbox style css-->
         <link rel="stylesheet" href="/static/css/searchstyle.css" type="text/css" media="screen"/>
		 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style6.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis|Niconne' rel='stylesheet' type='text/css' />
        
        <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
        <!--[if lt IE 9]>
            <link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.placeholder.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<!--<embed name="softmusic" src="/static/music/soft.mp3" loop="true" hidden="true" autostart="false"> -->
    </head>
    <body>

{% include "web/header.html" %}
        <section id="slider" class="static">
            {% for b in banner %}
            <img src="{{media}}/{{b.symptombanner}}" alt="" style="">
            {% endfor %}
        </section>

        <section id="main" class="normalPage">
            <section class="row center">
                <section class="span25 main-wrapper">
                    <div class="title span9">
                <h1 class="span8">Symptom Checker</h1>
                <h2 class="span8">Experiencing symptoms but not sure what they mean?</h2>
            </div>
                    <div class="cornerShadow left"></div>
                    <div class="cornerShadow right"></div>
                    <section class="content span16">

					
					
                        <div class="twoCol row collumn">
                            <div class="span8">
                                <article>
                                    <h1><i></i> Assess Your Symptoms</h1>
									<p>Want to know what's causing your aches, pain, or rashes? We can identify conditions related to your symptoms.</p>
                                </article>
                                  
                                <article>
                                    <h1><i></i> Explore Treatments</h1>
                                    <p>Weigh your treatment options, from traditional medicine to alternative therapies, and decide which is right to you. </p>
                                 </article>	                             
                            </div>
                            <div class="span8">
							 <article>
							
							<h1><i></i> Enter Your Symptoms Here</h1>
							<p>		
							<!-- Search Box	-->
							<form  method="post" action="{% url 'symptomchecker' %}">
							{% if msg %}
							<script>
								alert("No Result Found!! or Invalid input..");
							</script>
							{% endif %}
							{% csrf_token %}
							<div class="item">
							<a class="link icon_find"></a>
							<div class="item_content">
							<p>
							<input type="text" required="true" name="search" />
							<button type="submit" name="GO">GO</button>
							<!--<a href=""><b>Go</b></a>-->
							</p>
							</div>
							</div> 
							</form>
							<script src="{% static 'js/jquery-animate-css-rotate-scale.js' %}" type="text/javascript"></script>
							<script>
												$('.item').hover(
												function(){
												var $this = $(this);
										expand($this);
									},
									function(){
										var $this = $(this);
										collapse($this);
									}
								);
								function expand($elem){
									var angle = 0;
									var t = setInterval(function () {
										if(angle == 1440){
											clearInterval(t);
											return;
										}
										angle += 40;
										$('.link',$elem).stop().animate({rotate: '+=-40deg'}, 0);
									},10);
									$elem.stop().animate({width:'268px'}, 1000)
									.find('.item_content').fadeIn(400,function(){
										$(this).find('p').stop(true,true).fadeIn(600);
									});
								}
								function collapse($elem){
									var angle = 1440;
									var t = setInterval(function () {
										if(angle == 0){
											clearInterval(t);
											return;
										}
										angle -= 40;
										$('.link',$elem).stop().animate({rotate: '+=40deg'}, 0);
									},10);
									$elem.stop().animate({width:'52px'}, 1000)
									.find('.item_content').stop(true,true).fadeOut().find('p').stop(true,true).fadeOut();
								}
							</script> 

							</p>
							</article>                               
							
                                 <article>
                                    <h1><i></i> Learn About Possible Causes</h1>
                                    <p>Get a better understanding of a condition: Discover if you're at risk, how it's diagnosed, and what you can do about it. </p>                                    
                                </article>                               
                            </div>
							
						
                        </div>
                        <section class="top noDivider">
                            <h2 class="pull-left">OUR MISSION</h2>
                            <p class="pull-left">Our mission is to make the people of the world healthier through the power of information. We do this directly through Illumine.com , and indirectly through our work with the world’s leading healthcare payors, providers, and publishers.Our health information and technologies enable healthier living and better healthcare outcomes, and helps to lower the overall cost of healthcare delivery.  </p>
                        </section>
                        <div class="mapHolder">
                            <img src="/static/img/Doctor-and-Patient.jpg" alt="" />
                        </div>
                        
                    </section>
                    <aside class="span8">
                        
                        <section class="span8 asideBox">

                            <h1>Today’s Video Health Tips</h1>
                            <div class="inside span8">
							{% for vd in video %}
                                <figure>
                                    <img src="{{media}}/{{vd.Image_src}}" alt="" />
                                    <div class="overlay"></div>
                                    <a href="{{ vd.Video_source }}" class="html5lightbox" title="Play">Play</a>
                                </figure>

                                <div class="info">
                                    <p>{{ vd.Video_Name }}</p>
                                    <a href="/web/videohealthtips" title="More Videos" class="customButton">More Videos</a>
                                </div>
								{% endfor %}<script type="text/javascript" src="{% static 'js/html5lightbox.js' %}"></script>	
                            </div>		
					
                        </section>
                        
                        <section class="largeBox">
                            <h1 class="pull-left">Latest News and HEALTH TIPS</h1><br />
                            <section class="span8 figureArticle">
                               {% for ne in latest %} <article>
                                    <figure>
                                        <img src="{{media}}/{{ne.Image_src}}" alt="" />
                                        <div class="overlay"></div>
                                    </figure>
                                    <div class="info">
                                        <p><a href="{% url 'latestnews' ne.id %}" title="news">{{ ne.Title }}</a></p>
                                        <span>{{ ne.Date|date:"d/M/Y" }}| Health Tips</span>
                                    </div>
                                </article>
								<div class="hr"></div>
								{% endfor %}
                               
                            </section>
                            <a href="/web/morenews/" title="More news" class="customButton">More News & Health Tips</a>
                        </section>
                        
                        <section class="span8 asideBox">
                         <!--   <div class="inside span8">
                                <figure class="under">
                                    <div class="underFlow"></div>
                                    <img src="/static/img/doctorSample.png" alt="" />
                                </figure>
                                
                                <div class="info under">
                                    <p>Meet Our Specialized Doctors Today!!</p>
                                    <a href="#" title="More Videos" class="customButton">Our Doctors</a>
                                </div>
                            </div>
                        </section>
                        
                        <section class="span8 paymentBox">
                            <div class="inside span8">
                                <div class="info  span3 pull-right">
                                    <p>Pay Your Bill in Online</p>
                                    <a href="#" title="Pay online" class="customButton">Pay Online <i></i></a>
                                </div>
                            </div>
                        </section>-->
                          <section class="span8 asideBox">
                            <div class="inside span8 call">
                                <h1>Campus Direction Assistances @ 24/7</h1>
                                <figure class="callCenter hidden-tablet">
                                    <img src="/static/img/callCenterGirl.png" alt="" />
                                </figure>
                                <div class="numbers">
                                    {% for p in site %} 
                                    <p>Email: <span>{{p.email}}</span> </p>
                                    <p>Phone: <span>{{p.contact}} </span></p>
                                  
                              {% endfor %}
                                </div>
                            </div>
                        </section>
                    </aside>
                    <div class="separator"></div>
                    <section class="span25 bottomSection hidden-phone">
                        <section class="span15 left">
                            <h1>Our Latest Tweets</h1>
                            <div class="controls-div pull-right">
                                <a href="#" title="Previous" class="controls prev">Previous</a>
                                <a href="#" title="Next" class="controls next">Next</a>
                            </div>
                            <section class="span14 coverFlow">
                                <ul>
                                    <li class="span14">
                                        <figure>
                                            <img src="/static/img/doctorSample.png" alt="" />
                                            <div class="overlay"></div>
                                        </figure>
                                        <div class="info">
                                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal  fdistribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                            <span class="customButton smallRadius pull-right">Charlsey Shrader (New York)</span>
                                        </div>
                                    </li>
                                    <li class="span14">
                                        <figure>
                                            <img src="/static/img/doctorSample.png" alt="" />
                                            <div class="overlay"></div>
                                        </figure>
                                        <div class="info">
                                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal  fdistribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                            <span class="customButton smallRadius pull-right">Charlsey Shrader (New York)</span>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </section>
                        <section class="span9 right">
                            <h1>Our Latest Tweets</h1>
                            <div class="twitterFeed">
                                <p>Doctors and Health care Responsive Theme in Themforest, Stay Tuned on more Updates. </p>
                                <span>6 hours ago</span>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <footer>
            {% include "web/footer.html" %}
        </footer>
        <section id="copyright">
            <section class="row center">
                <section class="span25">
				<center>
                    <p>COPYRIGHT © 2014 illumine. Developed by <a href="http://ghrix.com/"><b>Team-Ghrix</b></a></p>
                </center>
				</section>	
            </section>
        </section>

        <script>
            if(document.body.offsetWidth < 400) {
                viewport = document.querySelector("meta[name=viewport]");
                viewport.setAttribute('content', 'width=device-width; minimum-scale=0.75, initial-scale=0.75; maximum-scale=0.75; user-scalable=0;');
            }
        </script>
    </body>
</html>
